.rmdp-container ,.rmdp-input{
    width: 100% !important;
    height: 45px !important;
    
}

.rmdp-day.rmdp-today span {
    background-color: #22c55e !important;
    color: #fff !important;
}
.rmdp-week-day {
    color: #b30753 !important;
    cursor: default !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: #bebebe !important;
    color: #fff !important;
}